*{
   background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB4VEdT5MIBtnROsvOWRNprQ84aW4N4PVK8A&usqp=CAU);
}

h1 {

  text-align: center;
  border: 1px solid rgba(255, 0, 34, 0.356);
}

.listnum1{
    border: 1px solid rgba(255, 0, 34, 0.356);
    display: inline;
    
   
}

.me {
display: block;
text-align: center;

width: 300px;
height: 250px;
    
    
}

 